/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .addbook-container {
    max-width: 700px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .addbook-container {
    max-width: 700px;
  }
}

.floating-label-container {
  padding-left: 0px;
}
