.book-lines-bg {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 1s ease-in-out;
}

.card-frost {
  backdrop-filter: blur(10px); /* Frosted glass effect */
  background-color: rgba(255, 255, 255, 0.2); /* Translucent background */
  border-radius: 15px; /* Rounded corners */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Light border */
}
