.book-details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Aligns children to start and end of the container */
  height: 100%; /* Ensure the container takes full height */
}
